.callout-auth {
	background-color: $light-grey;
	border: 1px solid $light-grey-border;
	padding: 2rem;
	text-align: center;

	h3, p {
		margin-bottom: 2rem;
	}

	.button {
		display: block;
		width: 60%;
		margin: 0 auto 1rem;
	}
}